.main{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden; 
    /* overflow hidden hides /not even scroll able/the content which goes outof the bound */  
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem; /* 1rem=16px */
}
.maincontent{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem; /* 1rem=16px */
    overflow: auto;
    margin-left: 0.5rem;
    padding: 0 1.5rem 0 1.5rem;
}
.musicplayer{
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    
    
}
.nav{
    background-color: #121212;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 100px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height: 2.5rem;
    width: 100%;
    opacity: 0.7;
    padding-left: 1rem;
    padding-top: 0rem;
}
.nav-option:hover{ 
    opacity: 1;
}
.nav-option i {
   
    font-size: 1.25rem;
}
.nav-option a {
    font-size: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
}
.options{
    display: flex;
    justify-content: space-between;
    padding: .5rem .75rem;
}

.lib-option img{
    height: 1.2rem;
    width: 1.2rem;
}
.icon{
    font-size: 1.25rem;
    display: flex;
}
.icon i{
    opacity: 0.75;
    margin-right: 1rem;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 1rem;
    margin: 0.5rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}
.box-p1{
    font-size: 1rem;
}
.box-p2{
    font-size: 0.75rem;
    opacity: 0.7;
}
.badge{
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.24rem 1rem;
    color: black;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.24rem 1rem;
    color: white;
    height: 2rem;
    background-color: black;
    width: fit-content;
    
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
}
.sticky-nav-options button{
    margin-right: 1rem;
}
.sticky-nav-options icon{
    margin-right: 1rem;

}

@media (max-width: 1000px){
    .hide{
        display: none;
    }
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-s{
    background-color: #232323;
    width: 220px;
    padding: 1rem;
    margin: 1.2rem;
    border-radius: .5rem;
}

.card-s img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
}
.footer{
    height: 300px;
}

.line{
    width: 90%;
    height: 40%;
    border-top: 1px solid white;
    opacity: 0.4;
}
.musicplayer{
    display: flex;
}
.player-control img{
    
    height: 0.85rem;
    margin: 0.7rem;
    opacity: 0.7;
}

.musicplayer .player img:hover{  
    opacity: 1;
}

.player-control{
     display: flex;
     justify-content: center;
     align-items: center;
}

.progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 5px;
}
.album{
    width: 25%;
}
.player{
    width: 50%;
}
.control{
    width:25%;
}
.player-cont{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.player-cont::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}
.player-cont::-webkit-slider-thumb{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #1bd760;
    border-radius: 50%;
    margin: -6px;
}